/*STYLES*/
.clients-reviews  { 
padding: 64px 0;
}

.clients-reviews-list {  
display: flex;
flex-direction: row;
flex-wrap: nowrap;
/*max-width: 374px;*/
justify-content: flex-start;
align-items: flex-start;
}

.clients-reviews-list-item {
max-width: 343;
    /*width: 100%;*/
/*padding-left: 16;
padding-right: 16;*/
padding-top: 30px;
padding-bottom: 40px;
}

.clients-reviews-block {
display: flex;
align-items: center;
/*justify-content: center;*/
width: 264px;
height: 112px;
border-radius: 4px;
background-color: #f4f4fd;
/*margin-bottom: 8px;*/
/*display:none;*/
}

.clients-reviews-block-block {
display: flex;
flex-direction: column;
margin-left: 14px;
}

.clients-reviews-title{
/*font-family: Roboto;*/
font-size: 18px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
text-transform: uppercase;
}

.clients-reviews-item{ 
/*text-align: center;
text-transform: capitalize;
margin-bottom: 8px;*/  
color: #0A224A;
/*font-family: Roboto;*/
font-size: 18px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
text-transform: uppercase;
}

.clients-reviews-item-time {
/*font-family: Roboto;*/
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
Opacity: 0.8;
}

.clients-reviews-item-text  {
color:  #0A224A;
/*width: 100%;*/
/*font-family: Roboto;*/
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
}


/*MEDIA*/
@media screen and (min-width: 428px)  {
.container {
max-width: 428px;
}
.clients-reviews-list { 
display: flex;
flex-direction:row;
align-items: center;
}

.clients-reviews-item {  
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize;
}

.clients-reviews-item-text {   
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.32px;
}
}

@media screen and (min-width: 768px){

.container {
max-width: 584px;
}

.clients-reviews-item  { 
text-align: start;
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize;
}

.clients-reviews-list   {  
display: flex;
flex-direction: row;
gap: 72px 24px;
}

.clients-reviews-list-item  {   
width: calc((100% - 24px)/2);
}
}

@media screen and (min-width:1158px)  {
 
.container {
max-width: 1158px;
padding-left: 15px;
padding-right: 15px;
}


.clients-reviews  { 
padding: 120px 0;
}

.clients-reviews-list { 
gap:24px;
}

.clients-reviews-list-item {   
width: calc((100% - 24px*3)/4);
}

.clients-reviews-block  { 
display: flex;
align-items: center;
justify-content: center;
width: 264px;
height: 112px;
border-radius: 4px;
margin-bottom: 8px;
}


.clients-reviews-item  { 
text-align: start;
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.clients-reviews-item-text {  
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
}
